* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: large;
}
.logo{
height:3rem;
margin:0.5rem;
}
ul {
  list-style-type: none;
} 
.container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(31, 35, 45);
  font-family: cursive;
}
.nav-links{
  display: flex;
  align-items: center;
}
.nav-links a{
  padding: 3rem 3rem;
  font-size: 1.5rem;
  font-weight: 100;
}
nav a{
  text-decoration:none;
  color:azure;
} 

.anime-container{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
.anime{
  width:300px;
  margin:1rem;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}

img{
   width:100%;
   max-height: 100%;
   object-fit: cover;
}
.image-container{
  height:420px;
}
.home{
  background-color:rgb(237,241,245);
}
.description h4{
  padding:0.2em; 
  display:flex;
  justify-content: center;
font-size: small;
font-family: Asap,sans-serif;
color:rgb(186, 185, 185);
}
.description h1{
  padding:0.2em;
  display:flex;
  justify-content: center;
  font-size: medium;
  font-family: Asap,sans-serif;
  }
.pagination{
  padding:2rem;
  display: flex;
  justify-content:center;
}
.pagination button {
 width:60px;
 height:40px;
 background-color: #1f232d;
 border-radius: 10%;
 border-color: azure;
 color: #fd7f32;
 font-family: fantasy;
 font-size: x-large;
}
.searchform{
  margin-left: 60px;
  padding:2rem;
  display:flex; 
}
.search{
  padding:10px;
  display: grid;
  grid-gap: 10px;
  font-family: Asap,sans-serif;
  color:rgb(74, 72, 72);
}
.genres{
  padding:10px;
  display: grid;
  grid-gap: 10px;
  font-family: Asap,sans-serif;
  color:rgb(74, 72, 72);
}
.input{
  height:35px;
  width:200px;
  border-color: transparent;
  border-radius: 5px; 
} 
select{
  color:rgb(159, 162, 164);
}
input{
  color:rgb(59, 57, 57);
}